[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
container-app-conf = ">=5.0.0"
python-telegram-bot = ">=12"
telegram-click = ">=3.3.4"
emoji = "*"
pygrocy = "*"
babel = "*"
prometheus-client = "*"
fuzzywuzzy = "*"
python-Levenshtein = "*"
# lru-expiring-cache = "*"
expiringdict = "*"
pytimeparse = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
