[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
container-app-conf = ">=5.0.0"
python-telegram-bot = ">=12"
telegram-click = ">=3.1.3"
emoji = "*"
prometheus-client = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
